/*--------------------------------------*\
  Headings
\*--------------------------------------*/


// @include headings(1, 6){
// }


/**
 * When we define a heading we also define a corresponding class to go with it.
 * This allows us to apply, say, `class='alpha'` to a `h3`; a double-stranded
 * heading hierarchy.
 */
h1, .alpha {
  @include font-size($h1-size);
}
h2, .beta {
  @include font-size($h2-size);
}
h3, .gamma {
  @include font-size($h3-size);
}
h4, .delta {
  @include font-size($h4-size);
}
h5, .epsilon {
  @include font-size($h5-size);
}
h6, .zeta {
  @include font-size($h6-size);
}
