/*--------------------------------------*\
  Images
\*--------------------------------------*/

/**
 * Fluid images.
 */
img {
  max-width: 100%;
}


/**
 * Non-fluid images if you specify `width` and/or `height` attributes.
 */
img[width],
img[height] {
  max-width: none;
}


/**
 * Rounded images.
 */
.img--round { border-radius: $global-radius; }


/**
 * Image placement variations.
 */
.img--right {
  float:right;
  margin-bottom: $base-spacing-unit;
  margin-left: $base-spacing-unit;
}
.img--left {
  float:left;
  margin-right: $base-spacing-unit;
  margin-bottom: $base-spacing-unit;
}
.img--center {
  display: block;
  margin-right: auto;
  margin-bottom: $base-spacing-unit;
  margin-left: auto;
}
